{% extends 'trade/base.html' %}
{% load static %}

{% block content %}
  <div class="row">
    <div class="col-sm-6 col-md-4 ml-auto mr-auto">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Forgot Password</h4>
          <form action="{% url 'trade:auth_forgot' %}" method="post">
            {% csrf_token %}
            <div class="form-group">
              <label for="email">Email</label>
              <input required type="email" class="form-control" name="email" id="email"
                     placeholder="dominic@frcshirt.trade">
            </div>
            <button class="btn btn-primary" type="submit">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
