{% extends 'trade/base.html' %}

{% block modals %}
  {% for req in requests %}
    <div class="modal" tabindex="-1" role="dialog" id="reqmod-{{ req.id }}" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">View Trade</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>Modal body text goes here.</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary">Save changes</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
{% endblock %}

{% block content %}
  <div class="row justify-content-center">
    <div class="col-sm-6 col-md-4">
      <div class="card">
        <div class="card-body">
          <img style="width: 100%; clear:both;" src="{{ item.photo.url }}">
          <br><br>
          <h4 class="text-center">{{ item }}</h4>
          <p class="text-center">{{ item.description }}<br>Listed by {{ item.owner }}</p>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-4">
      {% if request.user != item.owner.django_user %}
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">I Want It!</h4>
            {% if user.is_authenticated %}
              {% if not trade_active %}
                <h6>Set up a trade with {{ item.owner }}.</h6>
                <br>
                <form action="{% url 'trade:trade_new' %}" method="post">
                  {% csrf_token %}
                  <input type="number" readonly name="take" class="d-none" value="{{ item.id }}">
                  <input type="text" readonly name="item_owner" class="d-none"
                         value="{{ item.owner.django_user.username }}">

                  <div class="form-group">
                    <label for="give">What do you want to offer?</label>
                    <select class="custom-select" name="give" style="width: 100%;">
                      {% for item in items %}
                        <option value="{{ item.id }}">My {{ item }}</option>
                      {% endfor %}
                    </select>
                  </div>
                  <button class="btn btn-primary" type="submit">Submit</button>
                </form>
              {% else %}
                <p>You already have a trade active! You will get an email from the item owner when they
                  approve or deny
                  your request.</p>
              {% endif %}
            {% else %}
              <p>To set up a trade, you need to be logged in! Log in or register using one of the buttons
                in the header,
                then come back here.</p>
            {% endif %}
          </div>
        </div>
      {% else %}
        <div class="card">
          <div class="card-body">
            {% if requests %}
              <h5 class="card-title">People Want This!</h5>
              <div class="list-group list-group-flush">
                {% for req in requests %}
                  <a class="list-group-item list-group-item-action" data-toggle="modal"
                     data-target="#reqmod-{{ req.id }}" style="padding-left: 0px;">
                    {{ req.requester }} wants to trade {{ req.give }}</a>
                {% endfor %}
              </div>
            {% else %}
              <h5 class="card-title">No offers yet!</h5>
              <p class="card-text">Nobody has tried to trade for this item yet. You can offer it in a
                trade, though!</p>
            {% endif %}
          </div>
        </div>
      {% endif %}
    </div>
  </div>
{% endblock %}