{% extends 'trade/base.html' %}
{% load thumbnail %}

{% block script %}
  <script>
      function acceptTrade(id) {
          $.post("{% url 'trade:trade_accept' %}", {"id": id}, function (data) {
              location.reload(true);
          });
      }
  </script>
{% endblock %}

{% block modals %}
  {% for req in requests %}
    <div class="modal" tabindex="-1" role="dialog" id="reqmod-{{ req.id }}" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">View Trade</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            {% thumbnail req.give.photo "1000" as thumb %}
              <img style="width: 100%; clear:both;" src="{{ thumb.url }}">
            {% endthumbnail %}
            <br><br>
            <h4 class="text-center">{{ req.give }}</h4>
            <p class="text-center">{{ req.give.description }}<br>Offered by {{ req.give.owner }}</p>
          </div>
          {% if req.status == "p" %}
            <div class="modal-footer">
              <small>If you accept, {{ req.give.owner.fname }} will receive your email address so they can coordinate
                the
                trade.
              </small>
              <button type="button" class="btn btn-primary" onclick="acceptTrade({{ req.id }});">Accept</button>
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          {% else %}
            <div class="modal-footer">
              <p class="modal-text">You've already accepted this trade! {{ req.give.owner.fname }} will be emailing you
                soon. </p>
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  {% endfor %}
{% endblock %}

{% block content %}
  <div class="row justify-content-center">
    <div class="col-sm-6 col-md-4">
      <div class="card">
        <div class="card-body">
          {% thumbnail item.photo "1000" upscale=False as thumb %}
            <img style="width: 100%; clear:both;" src="{{ thumb.url }}">
          {% endthumbnail %}
          <br><br>
          <h4 class="text-center">{{ item }}</h4>
          <p class="text-center">{{ item.description }}<br>Listed by {{ item.owner }}</p>
          {% if events %}
            <p style="font-size: 0.8em;" class="text-center">{{ item.owner.fname }}'s team will be at {{ events }} this
              season.</p>
          {% endif %}
        </div>
          <div class="card-footer">
            {% if request.user.is_staff and not item.verified %}
              <a class="btn btn-primary" href="{% url 'trade:admin_verify' id=item.id %}">Verify</a>
            {% endif %}
            {% if request.user.is_staff or request.user == item.owner.django_user %}
              <a class="btn btn-danger" href="{% url 'trade:admin_delete' id=item.id %}">Delete</a>
            {% endif %}
          </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-4">
      {% if request.user != item.owner.django_user %}
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">I Want It!</h4>
            {% if user.is_authenticated %}
              {% if not trade_active %}
                <h6>Set up a trade with {{ item.owner }}.</h6>
                <br>
                {% if items %}
                  <form action="{% url 'trade:trade_new' %}" method="post">
                    {% csrf_token %}
                    <input type="number" readonly name="take" class="d-none" value="{{ item.id }}">
                    <input type="text" readonly name="item_owner" class="d-none"
                           value="{{ item.owner.django_user.username }}">

                    <div class="form-group">
                      <label for="give">What do you want to offer?</label>
                      <select class="custom-select" name="give" style="width: 100%;">
                        {% for item in items %}
                          <option value="{{ item.id }}">My {{ item }}</option>
                        {% endfor %}
                      </select>
                    </div>
                    <button class="btn btn-primary" type="submit">Submit</button>
                  </form>
                {% else %}
                  <p class="card-text">You need to add an item before you can make an offer!</p>
                {% endif %}
              {% else %}
                <p>You already have a trade active! You will get an email from the item owner when they
                  approve or deny
                  your request.</p>
              {% endif %}
            {% else %}
              <p>To set up a trade, you need to be logged in! Log in or register using one of the buttons
                in the header,
                then come back here.</p>
            {% endif %}
          </div>
        </div>
      {% else %}
        <div class="card">
          <div class="card-body">
            {% if requests %}
              <h5 class="card-title">People Want This!</h5>
              <div class="list-group list-group-flush">
                {% for req in requests %}
                  <a class="list-group-item list-group-item-action" data-toggle="modal"
                     data-target="#reqmod-{{ req.id }}" style="padding-left: 0px;">
                    {{ req.requester }} wants to trade {{ req.give }}</a>
                {% endfor %}
              </div>
            {% else %}
              <h5 class="card-title">No offers yet!</h5>
              <p class="card-text">Nobody has tried to trade for this item yet. You can offer it in a
                trade, though!</p>
            {% endif %}
          </div>
        </div>
        {% if not item.available %}
          <div class="card" style="margin-top: 10px;">
            <div class="card-body">
              <h5 class="card-title">Off the Market</h5>
              <p class="card-text">Since you've accepted a trade, this item has been <b>taken off the market</b> and <b>won't
                show up on the homepage or in search results</b>. If the trade that you accepted has fallen through, you
                can <a href="{% url 'trade:item_relist' id=item.id %}">mark this item as available</a> so that others
                can see this item again and request to
                trade for it. Note that when you re-list an item, any of the people that you have an active trade with
                <b>will be emailed that your trade has been cancelled</b>.</p>
            </div>
          </div>
        {% endif %}
      {% endif %}
    </div>
  </div>
{% endblock %}
