<html>
<head>
  {% load static %}
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <meta charset="utf-8">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-secondary fixed-top" style="background-color: #2b2b2b!important;">
  <a class="navbar-brand" href="https://frcshirt.trade{% url 'trade:index' %}">
    <img src="https://frcshirt.trade{% static 'trade/shirt_gradient.svg' %}" height=40>
  </a>
</nav>
<main class="container">
  <div class="mb-auto" style="padding-top: 70px;  ">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Hey {{ trade.take.owner.fname }}, You Have a Trade Offer!</h5>
        <p class="card-text">
          {{ trade.give.owner }} offered you their {{ trade.give }} for your {{ trade.take }}. Log on to <a
                href="https://frcshirt.trade">FRCShirt.trade</a> to accept or decline!
        </p>
      </div>
    </div>
  </div>
</main>
</body>
</html>