<html>
<head>
  {% load static %}
  <link rel="stylesheet" href="https://frcshirt.trade{% static 'trade/bootstrap.css' %}">
  <meta charset="utf-8">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-secondary fixed-top">
  <a class="navbar-brand" href="https://frcshirt.trade{% url 'trade:index' %}">
    <img src="https://frcshirt.trade{% static 'trade/shirt_gradient.svg' %}" height=40>
  </a>
</nav>
<main class="container">
  <div class="mb-auto" style="padding-top: 70px;  ">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{ trade.take.owner }} Accepted Your Trade Offer!</h5>
        <p class="card-text">
          {{ trade.take.owner }} accepted your trade offer! They will trade their {{ trade.take }} for
          your {{ trade.give }}! You can get in touch with {{ trade.take.owner.fname }} at <a
                href="mailto:{{ trade.take.owner.email }}">{{ trade.take.owner.email }}</a> to set up how/when the trade
          will happen.

          {% if meetup %}
            This year, you and {{ trade.take.owner.fname }} will both be competing at {{ meetup }}.
          {% endif %}
        </p>
      </div>
    </div>
  </div>
</main>
</body>
</html>